<h1>Listando Articulos</h1>
<p id="notice"><%= notice %></p>
<table>

      
  <tr>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>


<% @articles.each do |article| %>
  <tr>
    <td><%= article.title %></td>
    <td><%= article.content %></td>
    <td><%= link_to article.title %></td>
    <td><%= link_to article.content %></td>

  
    <td><%= link_to 'Editar', edit_article_path(article) %></td>
    <td><%= link_to 'Eliminar', article, :method => :delete %></td>

  </tr>
<% end %>
<tr>


<td><%= link_to 'Volver a artículos', articles_path %></td>
<td><%= link_to 'Agregar articulo', new_article_path %></td>

</tr>
</table>

<br />

